<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/default :: layout(~{::title}, _, ~{::nav}, ~{::content})}">
<head>
    <title>Crear Producto</title>
</head>
<body>

<nav th:fragment="nav" aria-label="breadcrumb">
    <ol class="breadcrumb my-3">
        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
        <li class="breadcrumb-item"><a href="#">Mantenimiento</a></li>
        <li class="breadcrumb-item"><a th:href="@{/productos}">Productos</a></li>
        <li class="breadcrumb-item active" aria-current="page">Crear</li>
    </ol>
</nav>

<th:block th:fragment="content">
</th:block>


</body>
</html>